@layer utilities {
    .vh-100 {
        height: 100dvh;
    }

    /* dynamic viewport height, iOS fix */
    .home-center {
        transform: scale(0.9);
        transform-origin: center;
    }

    .screen-limit {
        @apply w-full max-w-400 max-h-330 mx-auto flex flex-col justify-center;
    }

    .screens {
        @apply w-full overflow-hidden;
    }

    .game-screen {
        @apply w-full h-full relative overflow-hidden bg-slate-50;
        display: flex;
        flex-direction: column;
    }

    .landing-screen {
        @apply flex flex-col items-center justify-center gap-4 px-4;
    }

    .center-content {
        @apply flex flex-col items-center justify-center w-full h-full px-4;
    }
}

:root.ui-mini health-badge {
    transform: scale(0.8);
}
